.featured {
    text-align: center;
    padding: 50px;
 
    
  
  
    h2 {
      color: #002a5c;
      margin-bottom: 20px;
    }
  
    .carousel {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
   
  
      .carousel-logos {
        display: flex;
        gap: 10px;
        overflow: hidden;
        width: 100%;
        max-width: 600px;
      }
  
      .logo {
        flex: 1;
        min-width: 150px;
        padding: 10px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
  
        &:hover {
          transform: scale(1.05);
        }
  
        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }
  
     
    }
    .arrow-btn {
      background-color: #002a5c;
      color: #fff;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-right: 20px;
     

      &:hover {
        background-color: #00509e;
      }
    }
  }
  
  @media (max-width: 768px) {
    .carousel-logos {
    
   
    }
  }