.testimonials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #002a5c;
  color: #fff;
  // height: 100vh;
  overflow-x: hidden;

  .intro {
    flex: 1;
    max-width: 400px;
    margin-right: 20px;

    h2 {
      margin-bottom: 10px;
      color: #fff;
    }

    p {
      margin-bottom: 20px;
      color: #fff;
    }

    .navigation {
      display: flex;
      gap: 10px;

      button {
        background: none;
        border: 2px solid #fff;
        color: #fff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #fff;
          color: #002a5c;
        }
      }
    }
  }

  .testimonial-cards {
    display: flex;
    overflow-x: hidden;
    flex: 2;
  }
  .testimonials .testimonial-cards{
    overflow-x: hidden;
  }
  .testimonial-card {
    min-width: 46%;
    align-items: center;
    background-color: #004080;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    margin-left: 10px;

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;

    }

    .testimonial-content {
      padding: 20px;

      blockquote {
        margin: 0 0 10px 0;
        font-style: italic;
        quotes: "“" "”" "‘" "’";
        color: #fff;

        &:before {
          content: open-quote;
        }

        &:after {
          content: close-quote;
        }
      }

      p {
        margin: 0;
        color: #fff;
      }
    }
  }
}

// Responsive Styles for Tablet and Mobile
@media (max-width: 1024px) {
  .testimonials {
    padding: 30px;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .intro {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .testimonial-cards {
 
    align-items: center;
  }
  .testimonials .intro .navigation {
    text-align: center;
    justify-content: center;
  }
  .testimonial-card {
    width: 90%;
    margin: 10px 0;

    img {
      width: 100%;
      height: auto;
      margin: 0;
    }

    .testimonial-content {
      padding: 15px;
    }
  }
}

@media (max-width: 768px) {
  .testimonials {
    padding: 20px;
  }

  .intro {
    max-width: 100%;
  }
  

.testimonials .testimonial-cards{
  display: flex;
  flex-direction: row;
}

  .testimonial-card {
    width: 100%;
    // padding: 20px;
    text-align: center;


    img {
      width: 100%;
      height: auto;
    }

    .testimonial-content {
      padding: 15px;
    }
  }
  .testimonials .testimonial-cards{
    overflow-x: hidden;
  }
  .navigation button {
    width: 30px;
    height: 30px;
  }
  .testimonials .intro .navigation {
    text-align: center;
    justify-content: center;
  }
}
