.use-cases {

  padding: 40px;

  h1 {
    color: #002a5c;
    margin-bottom: 20px;
  }

  .carousel {
    position: relative;
    display: flex;
  
    overflow-x: hidden;
    width: 100%;

    .cases {
      display: flex;
      transition: transform 0.5s ease;
    }

    .case {
      min-width: 300px;
      max-width: 300px;
      margin: 0 10px;
      background-color: #fff;
      padding: 20px;
   
      transition: transform 0.3s, box-shadow 0.3s;
      text-align: left;
      transform: scale(0.8);

      &.active {
        transform: scale(1);
      }

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }

      .pic {
        font-size: 2rem;
        margin-bottom: 10px;
        background-color: #002a5c;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
          width: 50%;
          height: 50%;
        }
      }

      h3 {
        margin-bottom: 10px;
        font-size: 1.8rem;
        color: #002a5c;
        font-weight: bold;
      }

      p {
        font-size: 0.9rem;
        line-height: 1.4;
        color: #555;
      }

      .read-more-btn {
        margin-top: 10px;
        padding: 10px 20px;
        width: 100%;
        background-color: #002a5c;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 0.9rem;
        transition: background-color 0.3s;

        &:hover {
          background-color: #00509e;
        }
      }
    }

    .carousel-control {
      background: none;
      border: 2px solid #003F74;
      font-size: 1rem;
      color: #003F74;
      cursor: pointer;
      // padding: 10px;
      position: absolute;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }

    .left {
      right: 80px;
      bottom: 10px;
    }

    .right {
      right: 30px;
      bottom: 10px;
    }
  }
}

@media (max-width: 768px) {
  .use-cases{
    text-align: center;
  }
  .case {
    width: 100%;
  }
  .use-cases .carousel .case {
    text-align: center;
  }
  .use-cases .carousel .case .pic {
    justify-self: center;
  }
}