@font-face {
  font-family: 'Avenir LT Std';
  src: url('./assets/fonts/Avenir LT Std 35 Light.otf') format('opentype');
  font-weight: 300; 
  font-style: normal;
}

@font-face {
  font-family: 'Cerapro Bold';
  src: url('./assets/fonts/Fontspring-DEMO-cerapro-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cerapro Bolder';
  src: url('./assets/fonts/Fontspring-DEMO-cerapro-black.otf') format('opentype');
  font-weight: bolder;
  font-style: normal;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  }
  
p {
  font-family: 'Avenir LT Std', sans-serif;
  font-weight: 300;
}

 h2, h3 {
  font-family: 'Cerapro Bold', sans-serif;
  font-weight: bold;
}

h1{
  font-family: 'Cerapro Bolder', sans-serif;
  font-weight: bolder;
}

/* src/index.css */

body .dark-mode {
  background-color: #121212;
  color: #f5f5f5;
}

/* You can add other global dark mode styles here */

/* styles.css */
.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}
