@font-face {
  font-family: 'Avenir LT Std';
  src: url('./assets/fonts/Avenir LT Std 35 Light.otf') format('opentype');
  font-weight: 300; 
  font-style: normal;
}

@font-face {
  font-family: 'Cerapro Bold';
  src: url('./assets/fonts/Fontspring-DEMO-cerapro-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

p {
  font-family: 'Avenir LT Std', sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  font-family: 'Cerapro Bold', sans-serif;
  font-weight: bold;
}